img {
  rotate: 90deg;
  border-radius: 28px;
  box-shadow: 3px 2px 3px black;
}
body {
  background: darkgrey;
}
h1 {
  box-shadow: 3px 2px 3px black;
}
h2 {
  box-shadow: 3px 2px 3px black;
}
